doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

html
  head
    = render_page_title t('apipie.api_documentation')
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="description" content=""
    meta name="viewport" content="width=device-width, initial-scale=1"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body id="ctl-#{controller_name} #{controller_name}-#{action_name}"
    .container
      .row
        .col-sm-12
          == yield
      - if Apipie.configuration.use_disqus?
        .row
          .col-sm-12
            == render 'disqus'
    footer
      .container.text-right.text-muted
        == yield :apipie_footer

